* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", serif;
}
:root {
  --theme-blue: #091d35;
  --theme-red: #ff6041;
  --soft-shadow: 3.346px 3.716px 22.5px #00000012;
}

.homepage {
  background-image: url("./assets/chacona2.webp");
  background-position: center;
  background-size: cover;
  font-family: "Lato", serif;
}
.cover {
  background-color: #0000006b;
  height: 100%;
}
.logo {
  font-family: "Rubik Vinyl", serif;
}
.navbar_left > a {
  font-family: "Oswald", serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.homepage h1 {
  font-family: "Oswald", serif;
}
.navbar a:hover {
  color: var(--theme-red);
  transition: 0.3s ease-in;
}
.navbar .logo_name:hover {
  color: white;
}
.exploreBt,
.pageDets,
.single_service h2 {
  font-family: "Oswald", serif;
}
.secheading {
  /* background-image: url("./assets/chacona1.jpg"); */
  background-position: center;
  background-size: cover;
}
.single_service {
  box-shadow: 0px 0px 4px 0px rgb(216, 216, 216);
  /* transform: rotateY(30deg);
  transition: 1s ease-in-out; */
}
.listing_heading p {
  font-family: "Oswald", serif;
}
.property {
  font-family: "Lato", serif;
  box-shadow: 0px 0px 7px 0px var(--soft-shadow);
}
.roomDets p,
.more_detail_head div p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  text-transform: capitalize;
}

.side_info,
.more_dets_area,
.more_detail_head {
  box-shadow: var(--soft-shadow);
}
.contact_form input,
.contact_form textarea {
  padding: 0.6rem 0.4rem;
  border-radius: 0.3rem;
  box-shadow: var(--soft-shadow);
  border: none;
  font-size: 0.8rem;
}
.contact_form button,
.whastapp_btn {
  box-shadow: var(--soft-shadow);
}
.contact_form input::placeholder,
.contact_form textarea::placeholder {
  /* color: #f17474e7; */
}
.contact_form textarea {
  min-height: 7rem;
}

.swiper {
  width: 100%;
  /* background-color: #091d35; */
  max-height: 400px;
}

@media only screen and (min-width: 768px) {
  .swiper {
    max-height: 600px;
  }
}
